<div id="new_store_flavor">
<% if logged_in? && current_user.employee.role == "admin" %>
	<%= simple_form_for @store_flavor, html: { :class => 'form-horizontal' }, remote: true do |f| %>
	  
	  <%= f.input :store_id, label: "Store", collection: Store.active.all, input_html: {class: "avg"} %>

	  <%= f.input :flavor_id, as: :hidden, input_html: { value: params[:flavor_id] } %>

	  <div class="form-actions">
	    <%= f.submit nil, class: 'button tiny radius' %>
	    <%= link_to 'Cancel', flavor_path(params[:flavor_id]), class: 'button tiny radius alert' %>
	  </div>
	<% end %> 

<% elsif logged_in? && current_user.employee.role == "manager" %>
	<%= simple_form_for @store_flavor, html: { :class => 'form-horizontal' }, remote: true do |f| %>
	  
	  <%= f.input :flavor_id, label: "Flavor", collection: Flavor.active.all, input_html: {class: "avg"} %>

	  <%= f.input :store_id, as: :hidden, input_html: { value: params[:store_id] } %>

	  <div class="form-actions">
	    <%= f.submit nil, class: 'button tiny radius' %>
	    <%= link_to 'Cancel', home_path, class: 'button tiny radius alert' %>
	   </div>
	  <% end %>

<%# elsif logged_in? && current_user.employee.role == "admin" %>
	<%#= simple_form_for @store_flavor, html: { :class => 'form-horizontal' }, remote: true do |f| %>
	  
	  <%#= f.input :flavor_id, label: "Flavor", collection: Flavor.active.all, input_html: {class: "avg"} %>

	  <%#= f.input :store_id, as: :hidden, input_html: { value: params[:store_id] } %>

	
	    <%#= f.submit nil, class: 'button tiny radius' %>
	    <%#= link_to 'Cancel', store_path(params[:store_id]), class: 'button tiny radius alert' %>
	
	  <%# #end %>
<% end %>

</div>