<% if logged_in? && (current_user.employee.role == "admin" || current_user.employee.role == "manager" || (current_user.employee.role == "employee" && current_user.employee_id == @employee.id))%>	
	<div class="row">
	  <div class="small-6 columns">
	    <%= render partial: "employee_details" %>
	    <br/>
	    <%= render partial: "assignment_history" unless @assignments.empty?%>
	    <br/>
	  </div>
	  
	  <div class="small-6 columns">
	    <%= render partial: "upcoming_shifts"  unless @employee.nil? || @employee.current_assignment.nil? %>
	    <%= render partial: "past_shifts"  unless @employee.nil? || @employee.current_assignment.nil? %>
	  </div>
	</div>
<% unless current_user.employee.role == "employee" %>
	<!-- Add buttons to list all, edit project or destroy object -->
	<%= render partial: "partials/object_options", locals: {model_name: "employee", object: @employee}  %>
<% end %>
<%end%>