<% if @active_stores.empty? %>
  <p><em>There are no active stores at this time.</em></p>
<% else %>
  <h3>Current Stores</h3>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Store Name</th>
        <th width="225", class="centered">Store Phone</th>
     <%if logged_in? && current_user.employee.role == "admin" %>
        <th>Staff Count</th>
        <th>&nbsp;</th>
      <%end%>
      </tr>
    </thead>
    <tbody>
      <% @active_stores.each do |store| %>
        <tr>
          <td><%= link_to store.name, store_path(store) %></td>
          <td class="centered"><%= number_to_phone store.phone %></td>
          <%if logged_in? && current_user.employee.role == "admin" %>
            <td class="centered"><%= store.assignments.current.count %></td>      
            <td>
              <%= link_to(image_tag("edit_dg.gif"), edit_store_path(store))  %>
    
            </td>
          <%end%>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= will_paginate @active_stores, previous_label: "Previous&nbsp;", next_label: "&nbsp;Next" %> <p>&nbsp;</p>
<% end %>