<div class="contain-to-grid">
  <nav class="top-bar" data-topbar role="navigation"> 
    <section class="top-bar-section">
      <ul class="left">
        <!-- link to home -->
        <li><%= link_to "Home", home_path %></li>

        <!-- options for stores -->
     <% if logged_in? && current_user.employee.role == "admin"%>
        <li class="has-dropdown">
          <%= link_to "Stores", stores_path %>
              <ul class="dropdown">
                <li><%= link_to "Store List", stores_path %></li>
                <li><%= link_to "Add a Store", new_store_path %></li>
              </ul> 
            </li>
    <% else %>
      <li><%= link_to "Stores", stores_path %></li>
    <%end%>



<% if logged_in? %>
      <% if current_user.employee.role == "admin"%>
        <!-- options for employees -->
        <li class="has-dropdown">
          <%= link_to "Employees", employees_path %>
                <ul class="dropdown">
                  <li><%= link_to "Employee List", employees_path %></li>
                  <li><%= link_to "Add an Employee", new_employee_path %></li>
                </ul>
        </li>
      <%elsif current_user.employee.role == "manager"%>
         <li><%= link_to "Employees", employees_path %></li>
      <%end%>

        <!-- options for assignments -->
       <% if current_user.employee.role == "admin"%>
        <li class="has-dropdown">
          <%= link_to "Assignments", assignments_path %>
            <ul class="dropdown">
              <li><%= link_to "Assignment List", assignments_path %></li>
              <li><%= link_to "Create New Assignment", new_assignment_path %></li>
            </ul>
          </li>
         <%elsif current_user.employee.role == "manager"%>
          <li><%= link_to "Assignments", assignments_path %></li>
        <%end%>
        
        <% if current_user.employee.role != "employee"%>
          <!-- options for shifts -->
          <li class="has-dropdown">
            <%= link_to "Shifts", shifts_path %>
              <ul class="dropdown">
                <li><%= link_to "Shift List", shifts_path %></li>
                <li><%= link_to "Create New Shift", new_shift_path %></li>
              </ul>
          </li>
        <%end%>

        <!-- options for jobs -->
        <% if current_user.employee.role == "admin"%>
          <li class="has-dropdown">
            <%= link_to "Jobs", jobs_path %>
              <ul class="dropdown">
                <li><%= link_to "Jobs List", jobs_path %></li>
                <li><%= link_to "Create New Job", new_job_path %></li>
              </ul>
          </li>
           <%elsif current_user.employee.role == "manager"%>
              <li><%= link_to "Jobs", jobs_path %></li>
            <%end%>

        <!-- options for flavors -->
       <% if current_user.employee.role == "admin"%> 
        <li class="has-dropdown">
          <%= link_to "Flavors", flavors_path %>         
            <ul class="dropdown">
              <li><%= link_to "Flavors List", flavors_path %></li>
              <li><%= link_to "Create New Flavor", new_flavor_path %></li>
            </ul>
        </li>
        <%else%>
            <li><%= link_to "Flavors", flavors_path %></li>
        <%end%>
      </ul>

          <ul class="right">
            <li class="has-dropdown">
            <%= link_to "Welcome, #{current_user.employee.first_name}", user_path(current_user) %>
            <ul class="dropdown">
              <li><%= link_to "Edit Profile", edit_employee_path(current_user.employee_id) %></li>
              <li><%= link_to "Logout", logout_path %></li>
            </ul>
          </li>
    <% else %>
        <ul class="right">
          <li><%= link_to "Login", new_session_path %> </li>
        </ul>
    <% end %>

    </section>
  </nav>
</div>