<div class="contain-to-grid">
  <nav class="top-bar" data-topbar role="navigation"> 
    <section class="top-bar-section">
      <ul class="left">
        <!-- link to home -->
        <li><%= link_to "Home", home_path %></li>

        <!-- options for stores -->
        <li class="has-dropdown">
          <%= link_to "Stores", stores_path %>
            <% if logged_in? && current_user.employee.role == "admin"%>
              <ul class="dropdown">
                <li><%= link_to "Store List", stores_path %></li>
                <li><%= link_to "Add a Store", new_store_path %></li>
              </ul>

              <%end %>
            </li>

    <% if logged_in? %>
        <!-- options for employees -->
        <li class="has-dropdown">
          <%= link_to "Employees", employees_path %>
            <% if current_user.employee.role== "admin"%>
                <ul class="dropdown">
                  <li><%= link_to "Employee List", employees_path %></li>
                  <li><%= link_to "Add an Employee", new_employee_path %></li>
                </ul>
            <%end%>
        </li>

        <!-- options for assignments -->
        <li class="has-dropdown">
          <%= link_to "Assignments", assignments_path %>
          <% if current_user.employee.role == "admin"%>
            <ul class="dropdown">
              <li><%= link_to "Assignment List", assignments_path %></li>
              <li><%= link_to "Create New Assignment", new_assignment_path %></li>
            </ul>
          <%end%>
        </li>
        
        <!-- options for shifts -->
        <li class="has-dropdown">
          <%= link_to "Shifts", shifts_path %>
          <% if current_user.employee.role == "admin" || current_user.employee.role == "manager"%>
            <ul class="dropdown">
              <li><%= link_to "Shift List", shifts_path %></li>
              <li><%= link_to "Create New Shift", new_shift_path %></li>
            </ul>
          <%end%>
        </li>

        <!-- options for jobs -->
        <li class="has-dropdown">
          <%= link_to "Jobs", jobs_path %>
          <% if current_user.employee.role == "admin"%> 
            <ul class="dropdown">
              <li><%= link_to "Jobs List", jobs_path %></li>
              <li><%= link_to "Create New Job", new_job_path %></li>
            </ul>
          <%end%>
        </li>

        <!-- options for flavors -->
        <li class="has-dropdown">
          <%= link_to "Flavors", flavors_path %>
          <% if current_user.employee.role == "admin"%>          
            <ul class="dropdown">
              <li><%= link_to "Flavors List", flavors_path %></li>
              <li><%= link_to "Create New Flavor", new_flavor_path %></li>
            </ul>
        <%end%>
        </li>

      </ul>

          <ul class="right">
            <li class="has-dropdown">
            <%= link_to "Welcome, #{current_user.employee.first_name}", user_path(current_user) %>
            <ul class="dropdown">
              <li><%= link_to "Edit settings", edit_employee_path(current_user.employee) %></li>
              <li><%= link_to "Logout", logout_path %></li>
            </ul>
          </li>
    <% else %>
        <ul class="right">
          <li><%= link_to "Login", new_session_path %> </li>
        </ul>
    <% end %>

    </section>
  </nav>
</div>