<% @start_time = current_user.employee.current_assignment.shifts.upcoming.first.start_time.localtime.strftime("%r") %>

		<table class="clock", width = "1000">
			<th>
				<h4> Clock in for today's shift at <%= @start_time %> </h4> 
			</th>
			<th>
				<%= link_to start_now_path(current_user.employee.current_assignment.shifts.upcoming.first),class: 'large button radius success' do %>
		        &nbsp;<%= "Start Shift" %>
		    	<% end %>
		    </th>
		    <th>
				<%= link_to end_now_path(current_user.employee.current_assignment.shifts.upcoming.first),class: 'large button radius alert' do %>
			        &nbsp;<%= "End Shift" %>
			    <% end %>
			 </th>
		</table>
