<% if @shifts_today.empty? %>
  <p><em>There are no scheduled shifts for today.</em></p>
<% else %>
  <h3>Today's Shifts for <%= humanize_date Date.today %></h3>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Employee</th>
        <th> Store </th>
        <th>Time</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <% @shifts_today.each do |shift| %>
          <tr>
            <td><%= link_to shift.assignment.employee.name, employee_path(shift.assignment.employee) %></td>
            <td><%= link_to shift.assignment.store.name, store_path(shift.assignment.store) %></td>
            <td><%= shift.start_time.strftime("%r")%> - <%=shift.end_time.strftime("%r") %></td>
            <td>
              <%= link_to(shift_path(shift), class: 'button tiny radius') do %>
                &nbsp;View&nbsp;
              <% end %>
            </td>
          </tr>
      <% end %>
    </tbody>
  </table>
  <%= will_paginate @shifts_today,:param_name => 'todays', previous_label: "Previous&nbsp;", next_label: "&nbsp;Next" %>  
<% end %>
<p>&nbsp;</p>