 <% @incomplete_shifts = Shift.chronological.for_store(current_user.employee.current_assignment.store_id).past.incomplete.paginate(page: params[:page]).per_page(5) %>
<div class="row">
  <div class="small-12 columns">
    <%if !current_user.employee.current_assignment.shifts.upcoming.for_next_days(0).empty? %>
        <%= render partial: "clock_in" %>
    <% end %>
    <h2> Hi <%=current_user.employee.first_name %>! </h2>
    <%= render partial: "home/shifts_to_complete" %>
    <% unless @incomplete_shifts.nil? %>
      <%= link_to complete_path(@incomplete_shifts.first),class: 'button radius' do %>
          &nbsp;<%= "Quick Complete Shifts" %>
      <% end %>
  </div>

</div>

<div class="row">
  <div class="small-6 columns">
    <!-- primary partial gets displayed here in main div -->

    <% end %>
  <%= render partial: "home/todays_flavors" %>
    <%= link_to employee_path(current_user.employee_id),class: 'button radius' do %>
        &nbsp;<%= "View My Personal Information" %>
    <% end %>

    <!-- sometimes we want another partial below -->

  </div>

  <div class="small-6 columns">
    <%= render partial: "home/todays_shifts" %>
    <%= link_to new_shift_path,class: 'button radius' do %>
        &nbsp;<%= "Quick Add Shifts" %>
    <% end %>
    <%= render partial: "home/upcoming_shifts" %>
    <%= render partial: "home/hours_worked" %>

  </div>
</div>