 <% @incomplete_shifts = Shift.chronological.for_store(current_user.employee.current_assignment.store_id).past.incomplete.paginate(page: params[:page]).per_page(5) %>
<div class="row">
  <div class="small-12 columns">
    <%if !current_user.employee.current_assignment.shifts.upcoming.for_next_days(0).empty? %>
        <%= render partial: "clock_in" %>
    <% end %>
    </div>
</div> 

<div class="row">
  <div class="small-12 columns">    
    <%= render partial: "home/shifts_to_complete" %>
  </div>
</div>

<div class="row">
  <div class="small-8 columns">
    <%= render partial: "home/todays_shifts" %>

  </div>

  <div class="small-4 columns">
    <br/>
    <br/>
    <br/>
    <%= render partial: "home/todays_flavors" %>
  </div>
</div>

<div class="row">
  <div class="small-8 columns">    
    <%= render partial: "home/upcoming_shifts" %>

  </div>
  <div class="small-4 columns">  
    <%= render partial: "home/hours_worked" %>
       <%= link_to employee_path(current_user.employee_id),class: 'button radius' do %>
          &nbsp;<%= "View My Personal Information" %>
      <% end %>
  </div>
</div>


