		<table width = "1000">
			<th>
				<h4> Clock in for this shift <%= @start_time%> </h4> 
			</th>
			<th>
				<%= link_to show_start_now_path(@shift.id),class: 'large button radius green' do %>
		        &nbsp;<%= "Start Shift" %>
		    	<% end %>
		    </th>
		    <th>
				<%= link_to show_end_now_path(@shift.id),class: 'large button radius alert' do %>
			        &nbsp;<%= "End Shift" %>
			    <% end %>
			 </th>
		</table>
