<h3>Assignment for Shift</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Dates</th>
      <th class="centered">Pay Level</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td>
          <%= @assignment.start_date.strftime("%m/%d/%y") %>
          <% if @assignment.end_date.nil? %>
            &nbsp;&nbsp;&nbsp;
            <% if current_user.employee.role == "admin" %>
              <%= link_to(edit_assignment_path(@assignment), class: 'button tiny radius warning') do %>
                &nbsp;End&nbsp;
                <% end %>
            <% end %>
          <% else %>
            &nbsp;-&nbsp;<%= @assignment.end_date.strftime("%m/%d/%y") %>
          <% end %>
        </td>
        <td class="centered"><%= @assignment.pay_level %></td>
        <td><%= link_to(assignment_path(@assignment), class: 'button tiny radius') do %>&nbsp;View&nbsp;<%end%></td>
      </tr>
  </tbody>
</table>
