<% if shifts.empty? %>
  <p><em>There are no <%= state %> shifts at this time.</em></p>
<% else %>
  <h3><%= state.capitalize %> Shifts</h3>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Employee</th>
        <th>Store</th>
        <th>Date</th>
        <th>Start Time</th>
        <% if state == 'Past' %>
          <th class="centered"> Completed</th>
        <% end %>        
        <th>&nbsp;</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <% if logged_in? && current_user.employee.role == "manager" %>  
          <% shifts = shifts.for_store(current_user.employee.current_assignment.store_id )%>
      <% end %>
      <% shifts.each do |shift| %>
          <tr>
            <td><%= link_to shift.assignment.employee.name, employee_path(shift.assignment.employee) %></td>
            <td><%= link_to shift.assignment.store.name, store_path(shift.assignment.store) %></td>
            <td><%= shift.date.strftime("%m/%d/%y") %></td>
            <td> <%= shift.start_time.strftime("%r")%> </td>
            <% if state == 'Past' %>
              <td class="centered"> 
                  <% if shift.completed? %>
                      <%= image_tag "check_green.gif"%>
                  <% else %>
                    <%= image_tag "remove.png"%>
                  <% end %>
              </td>
            <%end%>
            <td>  
              <%= link_to(shift_path(shift), class: 'button tiny radius') do %>
                &nbsp;View&nbsp;
              <% end %>
            </td>
            <td>
              <%= link_to(image_tag("edit_dg.gif"), edit_shift_path(shift))  %>
    
            </td>
          </tr>
      <% end %>
    </tbody>
  </table>
  <%= will_paginate shifts, previous_label: "Previous&nbsp;", next_label: "&nbsp;Next" %>  
<% end %>
<p>&nbsp;</p>